<template>
    <div class="about">
        <h1>This is an about page</h1>
    </div>
</template>

<script>
export default {
    name: "about",
    components: {},
    mounted() {
        // Update the parent
        this.$emit("update", {
            pageTitle: "About"
        });
    }
};
</script>
