<template>
    <div class="kltable" v-if="this.loaded === true">
        <div class="kb-date-header">
            {{ new Date() | moment("dddd, MMMM Do") }}
        </div>
        <br/>
        <table id="killlist" class="kb-table kb-kl-table kb-table-rows">
            <thead>
            <tr class="kb-table-header">
                <td class="kl-shiptype" colspan="2">Ship type</td>
                <td class="kl-victim" colspan="2">Victim</td>
                <td class="kl-finalblow" colspan="2">Final blow</td>
                <td class="kl-location">Location</td>
            </tr>
            </thead>
            <tbody>
            <!-- Ship Type -->
            <tr
                :key="kill.killID"
                class="kb-table-row-kill clickableRow"
                v-for="(kill, index) in killList"
                v-on:click="openKill(kill.killID)"
                :class="{'kb-table-row-even': index % 2 === 0, 'kb-table-row-odd': index % 2 !== 0}"
            >
                <td class="kb-table-imgcell">
                    <img
                        class="rounded"
                        data-trigger="tooltip"
                        data-delay="0"
                        :data-content="kill.victim.shipTypeName"
                        data-position="s"
                        :src="getImageUrl(kill.victim.shipTypeID, 'Type', 32)"
                        style="width: 32px; height: 32px;"
                    />
                </td>
                <td class="kl-shiptype-text">
                    <div class="no_stretch kl-shiptype-text">
                        <b>{{ kill.victim.shipTypeName }}</b>
                        <br/>{{ millionBillion(kill.totalValue) }}
                    </div>
                </td>

                <!-- Victim -->
                <td class="kb-table-imgcell">
                    <img
                        class="rounded"
                        data-trigger="tooltip"
                        data-delay="0"
                        :data-content="kill.victim.allianceID > 0 ? kill.victim.allianceName : kill.victim.corporationName"
                        data-position="s"
                        :src="kill.victim.allianceID > 0 ? getImageUrl(kill.victim.allianceID, 'Alliance', 32) : getImageUrl(kill.victim.corporationID, 'Corporation', 32)"
                        style="border: 0px; width: 32px; height: 32px;"
                        :title="kill.victim.allianceID > 0 ? kill.victim.allianceName : kill.victim.corporationName"
                        :alt="kill.victim.allianceID > 0 ? kill.victim.allianceName : kill.victim.corporationName"
                    />
                </td>
                <td class="kl-victim-text">
                    <div class="no_stretch kl-victim-text">
                        <a :href="getLink(kill.victim.characterID, 'character')">
                            <b>{{ kill.victim.characterName }}</b>
                        </a>
                        <br/>
                        <a :href="kill.victim.allianceID > 0 ? getLink(kill.victim.allianceID, 'alliance') : getLink(kill.victim.corporationID, 'corporation')"
                        >{{ kill.victim.allianceID > 0 ? kill.victim.allianceName : kill.victim.corporationName }}</a
                        >
                    </div>
                </td>

                <!-- Final Blow -->
                <td class="kb-table-imgcell">
                    <img
                        class="rounded"
                        data-trigger="tooltip"
                        data-delay="0"
                        :data-content="kill.finalBlow.corporationName"
                        data-position="s"
                        :src="getImageUrl(kill.finalBlow.corporationID, 'Corporation', 32)"
                        style="border: 0px; width: 32px; height: 32px;"
                        :title="kill.finalBlow.corporationName"
                        :alt="kill.finalBlow.corporationName"
                    />
                </td>
                <td class="kl-finalblow">
                    <div class="no_stretch kl-finalblow">
                        <a :href="getLink(kill.finalBlow.characterID, 'character', 32)">
                            <b>{{ kill.finalBlow.characterName }}</b>
                        </a>
                        <br/>
                        <a :href="getLink(kill.finalBlow.corporationID, 'corporation', 32)"
                        >{{ kill.finalBlow.corporationName }}</a
                        >
                    </div>
                </td>

                <!-- Location -->
                <td class="kb-table-cell kl-location">
                    <div class="kl-location">
                        {{ kill.regionName }}, {{ kill.solarSystemName }} ({{
                        solarSystemSecurity(kill.solarSystemSecurity) }})
                        <br/>
                    </div>
                    <div class="kl-inv-comm">
                        <img src="/img/involved10_10.png" alt="I:"/> {{ kill.attackerCount }}
                    </div>
                    <div class="kl-date">
                        <a href="/related/">
                            <b>{{ kill.killTime_str }}</b>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import {_} from 'vue-underscore';

    export default {
        name: "KilllistTable",
        props: ["url", "loadWebsocket", "page", "autoloadScroll"],
        data() {
            return {
                killData: {},
                loaded: false
            };
        },
        computed: {
            killList: function () {
                let data = _.each(this.killData, function (kill) {
                    kill['finalBlow'] = _.findWhere(kill.attackers, {finalBlow: true});
                    kill['attackerCount'] = Object.values(kill.attackers).length;

                    return kill;
                });
                return data;
            }
        },
        methods: {
            openKill(killID) {
                this.$router.push('kill/' + killID);
            },
            getImageUrl(inputID, inputType, size) {
                return 'https://imageserver.eveonline.com/' + inputType + '/' + inputID + '_' + size + '.png';
            },
            getLink(inputID, inputType) {
                return '/' + inputType + '/' + inputID;
            },
            millionBillion(isk) {
                if (isk > 1000000000) { // Billion
                    return (isk / 1000000000).toFixed(2) + "b ISK";
                }
                return (isk / 1000000).toFixed(2) + "m ISK";
            },
            solarSystemSecurity(solarSystemSecurity) {
                return parseFloat(solarSystemSecurity).toFixed(2);
            }
        },
        mounted() {
            let baseUrl = "https://evekill.club";
            console.log(baseUrl + this.url);
            this.axios
                .get(baseUrl + this.url + "/page/1")
                .then(response => {
                    this.killData = response.data;
                })
                .finally(() => (this.loaded = true));
        }
    };
</script>
