<template>
    <table class="kb-table kb-box">
        <tr>
            <td class="kb-table-header">Menu</td>
        </tr>
        <tr class="kb-table-row-even">
            <td>
                <div class="menu-wrapper">
                    <div class="menu-caption" :key="title" v-for="(menu, title) in this.menu()">
                        {{ title }}
                        <div class="menu-item" :key="entry.name" v-for="entry in menu">
                            <fa icon="dot-circle"/>
                            <a :href="entry.url" target="_blank"> {{ entry.name }}</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</template>

<script>
export default {
    name: "NavigationMenu",
    props: ['menuEntries'],
    methods: {
        menu: function() {
            return this.menuEntries;
        }
    }
};
</script>
