<template>
    <div id="toggleSearch" style="display: none">
        <section>
            <h1>Search</h1>
            <div id="search">
                <p>Currently not working!<br /></p>
                <br />
                <b>Search Text</b>
                <form
                    id="postform"
                    name="postform"
                    class="f_killmail"
                    method="get"
                    action="#"
                >
                    <input
                        type="text"
                        name="searchText"
                        id="searchText"
                        class="f_killmail"
                        size="100"
                    />
                    <input
                        id="search"
                        name="search"
                        type="submit"
                        value="Submit"
                    />
                </form>
            </div>
        </section>
        <br />
    </div>
</template>

<script>
export default {
    name: "Search"
};
</script>
