<template>
    <table class="kb-table awardbox">
        <tbody>
        <tr>
            <td class="kb-table-header">Top 10 Characters</td>
        </tr>
        <tr class="kb-table-row-even">
            <td>
                <table class="kb-subtable awardbox-top">
                    <tbody>
                    <tr class="kb-table-row-odd">
                        <td>
                            <img class="rounded" data-trigger="tooltip" data-delay="0" data-position="e" data-content="Systemis" src="https://imageserver.eveonline.com/Character/96532188_64.jpg" alt="Systemis" height="64" width="64" title="Systemis">
                        </td>
                        <td>
                            <img class="rounded" src="/img/awards/eagle.png" alt="award" height="64" width="64">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="kb-subtable awardbox-list">
                    <tbody>
                    <tr>
                        <td class="awardbox-num">1.</td>
                        <td colspan="2">
                            <a class="kb-shipclass" href="/character/96532188" data-trigger="tooltip" data-cssclass="infotip" data-delay="0" data-position="e" data-content="<img class='rounded' src=https://imageserver.eveonline.com/Character/96532188_128.jpg></a><br>Name: Systemis<br>Corporation: BLOPSEC<br>Alliance: WE FORM V0LTA<br>Kills: 1098<br>Losses: 17<br>Points: 9747.25941093777<br>">Systemis</a>
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>
                            <div class="bar-background"><div class="bar" style="width: 100%;">&nbsp;</div>
                            </div>
                        </td>
                        <td class="awardbox-count">859</td></tr><tr><td class="awardbox-num">2</td>
                        <td colspan="2">
                            <a class="kb-shipclass" href="/character/2116895324" data-trigger="tooltip" data-cssclass="infotip" data-delay="0" data-position="e" data-content="<img class='rounded' src=https://imageserver.eveonline.com/Character/2116895324_128.jpg></a><br>Name: Jacks Zen<br>Corporation: Pandemic Horde Inc.<br>Alliance: Pandemic Horde<br>Kills: 1227<br>Losses: 32<br>Points: 33267.11338216008<br>">Jacks Zen</a>
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>
                            <div class="bar-background"><div class="bar" style="width: 86.89640035118525%;">&nbsp;</div>
                            </div>
                        </td>
                        <td class="awardbox-count">597</td></tr><tr><td class="awardbox-num">3</td>
                        <td colspan="2">
                            <a class="kb-shipclass" href="/character/1173505529" data-trigger="tooltip" data-cssclass="infotip" data-delay="0" data-position="e" data-content="<img class='rounded' src=https://imageserver.eveonline.com/Character/1173505529_128.jpg></a><br>Name: True Killjoy<br>Corporation: null<br>Alliance: <br>Kills: 2086<br>Losses: 82<br>Points: 997499.3003163086<br>">True Killjoy</a>
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>
                            <div class="bar-background"><div class="bar" style="width: 86.56226319777721%;">&nbsp;</div>
                            </div>
                        </td>
                        <td class="awardbox-count">532</td></tr><tr><td class="awardbox-num">4</td>
                        <td colspan="2">
                            <a class="kb-shipclass" href="/character/1829031415" data-trigger="tooltip" data-cssclass="infotip" data-delay="0" data-position="e" data-content="<img class='rounded' src=https://imageserver.eveonline.com/Character/1829031415_128.jpg></a><br>Name: INTERSTELLAR TYCOON<br>Corporation: Marquie-X.<br>Alliance: Pandemic Horde<br>Kills: 5427<br>Losses: 230<br>Points: 636186.0979025278<br>">INTERSTELLAR TYCOON</a>
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>
                            <div class="bar-background"><div class="bar" style="width: 87.01488182083455%;">&nbsp;</div>
                            </div>
                        </td>
                        <td class="awardbox-count">445</td></tr><tr><td class="awardbox-num">5</td>
                        <td colspan="2">
                            <a class="kb-shipclass" href="/character/94262198" data-trigger="tooltip" data-cssclass="infotip" data-delay="0" data-position="e" data-content="<img class='rounded' src=https://imageserver.eveonline.com/Character/94262198_128.jpg></a><br>Name: Karu Bringit<br>Corporation: Hull Pen<br>Alliance: Pen Is Out<br>Kills: 3463<br>Losses: 173<br>Points: 1830071.710837072<br>">Karu Bringit</a>
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>
                            <div class="bar-background"><div class="bar" style="width: 87.05566733735748%;">&nbsp;</div>
                            </div>
                        </td>
                        <td class="awardbox-count">386</td></tr><tr><td class="awardbox-num">6</td>
                        <td colspan="2">
                            <a class="kb-shipclass" href="/character/366517445" data-trigger="tooltip" data-cssclass="infotip" data-delay="0" data-position="e" data-content="<img class='rounded' src=https://imageserver.eveonline.com/Character/366517445_128.jpg></a><br>Name: brite lite<br>Corporation: Black Fox Marauders<br>Alliance: Pen Is Out<br>Kills: 2213<br>Losses: 104<br>Points: 960611.0966963698<br>">brite lite</a>
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>
                            <div class="bar-background"><div class="bar" style="width: 86.24807395993837%;">&nbsp;</div>
                            </div>
                        </td>
                        <td class="awardbox-count">357</td></tr><tr><td class="awardbox-num">7</td>
                        <td colspan="2">
                            <a class="kb-shipclass" href="/character/212945968" data-trigger="tooltip" data-cssclass="infotip" data-delay="0" data-position="e" data-content="<img class='rounded' src=https://imageserver.eveonline.com/Character/212945968_128.jpg></a><br>Name: JAY WRIGHT<br>Corporation: The Dark Vanguard<br>Alliance: Triumvirate.<br>Kills: 3802<br>Losses: 81<br>Points: 308505.6378340517<br>">JAY WRIGHT</a>
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>
                            <div class="bar-background"><div class="bar" style="width: 84.23403305046895%;">&nbsp;</div>
                            </div>
                        </td>
                        <td class="awardbox-count">353</td></tr><tr><td class="awardbox-num">8</td>
                        <td colspan="2">
                            <a class="kb-shipclass" href="/character/161684017" data-trigger="tooltip" data-cssclass="infotip" data-delay="0" data-position="e" data-content="<img class='rounded' src=https://imageserver.eveonline.com/Character/161684017_128.jpg></a><br>Name: Doctor Per<br>Corporation: Jita Holding Inc holder<br>Alliance: Jita Holding Inc.<br>Kills: 7713<br>Losses: 119<br>Points: 41066785.99072955<br>">Doctor Per</a>
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>
                            <div class="bar-background"><div class="bar" style="width: 81.6542948038176%;">&nbsp;</div>
                            </div>
                        </td>
                        <td class="awardbox-count">346</td></tr><tr><td class="awardbox-num">9</td>
                        <td colspan="2">
                            <a class="kb-shipclass" href="/character/97050631" data-trigger="tooltip" data-cssclass="infotip" data-delay="0" data-position="e" data-content="<img class='rounded' src=https://imageserver.eveonline.com/Character/97050631_128.jpg></a><br>Name: Envy Accipitridae<br>Corporation: Infamy Inc<br>Alliance: Federation Uprising<br>Kills: 928<br>Losses: 54<br>Points: 13052.012671166367<br>">Envy Accipitridae</a>
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>
                            <div class="bar-background"><div class="bar" style="width: 77.79220779220779%;">&nbsp;</div>
                            </div>
                        </td>
                        <td class="awardbox-count">342</td>
                    </tr>
                    <tr>
                        <td class="awardbox-num">10</td>
                        <td colspan="2">
                            <a class="kb-shipclass" href="/character/1115505592" data-trigger="tooltip" data-cssclass="infotip" data-delay="0" data-position="e" data-content="<img class='rounded' src=https://imageserver.eveonline.com/Character/1115505592_128.jpg></a><br>Name: GoingOffRoading<br>Corporation: null<br>Alliance: <br>Kills: 1904<br>Losses: 176<br>Points: 1781235.8481413487<br>">GoingOffRoading</a>
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>
                            <div class="bar-background"><div class="bar" style="width: 71.70283806343906%;">&nbsp;</div>
                            </div>
                        </td>
                        <td class="awardbox-count">339</td>
                    </tr>
                    <tr>
                        <td class="awardbox-comment" colspan="3">(Kills over last 7 days)</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</template>
